/* TODO: implement new bootstrap theme in sass */

body {
    background-image: radial-gradient(circle, #00000000, #010109e0), url(assets/images/background.png);
    background-position: center;
    background-attachment: fixed;


    min-height: 100vh;
}


.bg-blue {
    background-color: cornflowerblue;
}

.bg-smokey {
    background-image: linear-gradient(#01010988 50%, #010109ff);
}

.bg-smokey-bottom {
    background-image: linear-gradient(#01010988, #010109ff 75%);
}

a {
    white-space: nowrap !important;
}

.jumbotron {
    background: radial-gradient(circle, #01010150, #010101e0),
                url(assets/images/mountainLights.jpg);
    background-position: center;
    background-size: cover;
}

.display-4 {
    font-family: "Alice", Garamond, serif !important;
    color: white !important;
}

.display-4 .bigJ {
    font-family: "Kurale", Garamond, serif !important;
    font-size: 4rem !important;
    letter-spacing: -0.08rem !important;
}

.lead {
    font-family: "Alice", Garamond, serif !important;
    color: white !important;
    font-size: 2rem !important;
}

.jumbotron hr {
    border-color: white;
    width: calc((20rem + 100%) / 2);
}

.card {
    background-color: #222222 !important;
}

.card-img-top {
    size:cover !important;
}



/* Button coloring */
.btn-primary {
    background-color: #000000aa !important;
    border-color: #dddddd !important;
    font-family: "Alice", "Kurale", Garamond, serif;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem #0077ff !important;
}

.btn-primary:hover {
    background-color: white !important;
    border-color: #dddddd !important;
    color: black !important;
}

.btn-primary:focus {
    background-color: #000000aa !important;
    border-color: #6aafff !important;
    color: #6aafff !important;
    box-shadow: 0 0 0 0.2rem #0077ff !important;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #0077ff !important;
    color: white !important;
}